#mainAboutSection{
background: url("../images/about.jpg") no-repeat center;
    background-size: 100% 100%;
    width: 2026px;
    height: 1186px;
    position: relative;
    /*MAIN EKATA RELATIVE DANNA ONI*/

}

#aboutShape{
    background-color: #F6C074;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 30px;
}

#aboutTitle{
    color: ;
}

