@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#mainAboutSection{
background: url("../images/aboutc.jpg") no-repeat center;
    background-size: 100% 100%;
    width: 2026px;
    height: 1186px;
    position: relative;

    /*MAIN EKATA RELATIVE DANNA ONI*/

}


#aboutSecondPicture{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 565px;
    height: 665px;
    position: relative;
    border-radius: 50px;
    top: 165px;
    left: 400px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);
}

#aboutShape{
    background-color: #F6C074;
    width:250px;
    height: 94px;
    position: absolute;
    left: 311px;
    top: 0;
}

#aboutTitle{
    color: black;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    display: inline-block;
    /*display inline block ekak damama dispaly eke size ekata hadagannawa*/
    position: relative;
    top: 30px;
    left: 400px;
    z-index: 1;
    /*z-index: 1 kiyana eken wenne yata thiyana eka uda enawa*/

}

#aboutMe{
    color: #F6C074;
    font-size: 20px;
    position: relative;
    top: -400px;
    left: 1000px;
}

#pra1,#pra2,#pra3,#pra4,#pra5,#pra6,#pra7{
    color: #F6C074;
    width: 700px;
    height: 200px;
    position: relative;
    align-content: start;
    left: 1000px;
}

#pra1{
    top: -300px;
}

#pra2{
    top: -500px;
}

#pra3{
    top: -700px;
}

#pra4{
    top: -900px;
}

#pra5{
    top: -1100px;
}


