

#educationMainPage{
    background-color: #1F2235;
    width: 2026px;
    height: 1120px;
    background-size: 100% 100%;
    position: relative;
}
#educationTitle1{
    width: 500px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
}

#educationLeftPhoto{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 565px;
    height: 670px;
    position: relative;
    border-radius: 50px;
    top: 45px;
    left: 280px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);
}