

#educationMainPage{
    background-color: #1F2235;
    width: 2026px;
    height: 1120px;
    background-size: 100% 100%;
    position: relative;
}
#educationTitle1{
    width: 500px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
}

#educationLeftPhoto{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 565px;
    height: 800px;
    position: relative;
    border-radius: 50px;
    /*border: solid ;*/
    border: 2px solid #F6C074;
    top: 165px;
    left: 280px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);
}

#educationPhoto2{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 565px;
    height: 450px;
    position: relative;
    border-radius: 50px;
    /*border: solid ;*/
    border: 2px solid #F6C074;
    top: -755px;
    left: 300px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);

}

#educationPhoto3{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 565px;
    height: 450px;
    position: relative;
    border-radius: 50px;
    /*border: solid ;*/
    border: 2px solid #F6C074;
    top: -742px;
    left: 310px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);
}
#educationPhoto4{
    background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 400px;
    height: 917px;
    position: relative;
    border-radius: 50px;
    /*border: solid ;*/
    border: 2px solid #F6C074;
    top: -1663px;
    left: 1265px;

    /*dropshadow*/

    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.15);
}