@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@3.00&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');
footer{
    width: 2026px;
    height: 720px;
    background-color: #303451;
    position: absolute;

}

/*----- J -------*/
#footerName1{
    color:#F6C074;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 315px;

    /*margin-top: 70px*/
;

}
/*---- anitha -----*/
#footerName2{
    color:#FFFFFF;
    font-weight:lighter;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 312px;


}


#letsTalk{
 color: #FFFFFF;
    font-size: 40px;
    /*position: center;*/
    left: 935px;

}

#footernav{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 25px;
    display: inline-block;
    position: relative;
    left: 680px;
    top: 50px;

}
#footernav>ul>li{
    margin-right:50px;
    display:inline-block;

}

#footerNavContact{
    color:#F6C074;
    font-weight:lighter;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    display: inline;
    position: relative;
    left: 900px;
    top: 50px;
    border: 2px solid #F6C074;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 170px;

}

/*----contact me animation-----*/

#footerNavContact:hover{
    color:white;
    font-weight:lighter;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    border: 2px solid white;
    /*background-color: white;*/



}
/*--- nav bar animation ----*/
#footernav>ul>li:nth-child(1):hover,li:nth-child(2):hover,
li:nth-child(3):hover,li:nth-child(4):hover,
li:nth-child(5):hover{
    color: #F6C074;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 25px;

}