
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Jaldi&display=swap');
#homePageBackground{
    background: url("../images/main.jpg") no-repeat center;
    background-size:100% 100% ;
    width: 2026px ;
    height: 1186px;
    /*position: absolute;*/
    /*z-index: 2;*/
}
#homepageTitle{
    position: absolute;
    top: 400px;
    left: 180px;

}
#homepageTitle>h2:nth-child(1){
    color:#F6C074 ;
    font-family: 'Jaldi', sans-seri;


}