

#letsBeFriendsMainPage{
    background-color: #22273B;
    width: 2026px;
    height: 810px;
    background-size: 100% 100%;
    /*border: 1px solid #F6C074;*/
    position: relative;
}

#letsBeFriendsTitle1{
    width: 700px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
}

/*sub title*/
#letsBeFriendsTitle2{
    width: 200px;

    /*  height: 200px;*/
    color: #F6C074;
    font-size: 35px;
    font-family: 'Jaldi', sans-serif;
    font-weight: lighter;
    position: relative;
    /*top: 0;*/
    left: 315px;
    top: -35px;
}

#lfLinkedin{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 315px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfInsta{

    position: absolute;
    width: 400px;
    height: 170px;
    left: 815px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfGithub{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 1300px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfEmail{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 315px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfFacebook{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 815px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfWhatsApp{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 1300px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}


/*---------- logos --------*/
#linkLogo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 610px;
    top: 6655px;
    z-index: 3;
    background: url("../images/LinkedIN.png") no-repeat center;
    background-size: 100% 100%;
}
#instaLogo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1110px;
    top: 6655px;
    z-index: 3;
    background: url("../images/Instagram.png") no-repeat center;
    background-size: 100% 100%;
}

#GithubLogo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1595px;
    top: 6655px;
    z-index: 3;
    background: url("../images/Fill.png") no-repeat center;
    background-size: 100% 100%;
}
#EmailLogo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 610px;
    top: 6890px;
    z-index: 3;
    background: url("../images/Mail.png") no-repeat center;
    background-size: 100% 100%;
}
#FacebookLogo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1110px;
    top: 6890px;
    z-index: 3;
    background: url("../images/Facebook.png") no-repeat center;
    background-size: 100% 100%;
}
#WhatsAppLogo{
    position: absolute;
    width:60px;
    height: 60px;
    left: 1595px;
    top: 6890px;
    z-index: 3;
    background: url("../images/WhatsApp.png") no-repeat center;
    background-size: 100% 100%;
}


/*====================*/
/*-----text------*/

/*--    linkding------*/


#letsBeLink1 {
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6630px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 374px;
}

#letsBeLink2 {
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6660px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 374px;
}

/*<!--instagram-->*/

#letsBeIns1 {
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6630px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 870px;
}

#letsBeIns2 {
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6660px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 870px;
}

/*<!--git-->*/
#letsBeGit1{
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6630px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 1350px;
}

#letsBeGit2{
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6660px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 1350px;
}

/*<!--email-->*/

#letsBeMail1{
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6865px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 374px;
}

#letsBeMail2{
    position: absolute;
    width: 423px;
    color: #FFFFFF;
    top: 6760px;
    font-family: 'Jaldi', sans-serif;
    font-size: 28px;
    left: 374px;
}
/*---whatsapp---*/