

#letsBeFriendsMainPage{
    background-color: #22273B;
    width: 2026px;
    height: 810px;
    background-size: 100% 100%;
    /*border: 1px solid #F6C074;*/
    position: relative;
}

#letsBeFriendsTitle1{
    width: 700px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
}

/*sub title*/
#letsBeFriendsTitle2{
    width: 200px;

    /*  height: 200px;*/
    color: #F6C074;
    font-size: 35px;
    font-family: 'Jaldi', sans-serif;
    font-weight: lighter;
    position: relative;
    /*top: 0;*/
    left: 315px;
    top: -35px;
}

#lfLinkedin{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 315px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfInsta{

    position: absolute;
    width: 400px;
    height: 170px;
    left: 815px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfGithub{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 1300px;
    top: 6600px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfEmail{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 315px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfFacebook{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 815px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}
#lfWhatsApp{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 1300px;
    top: 6835px;
    background: url("../images/Rectangle.png") no-repeat center;
    background-size: 100% 100%;
}


/*---------- logos --------*/
#linkLogo{
}
#instaLogo{

}
#GithubLogo{

}
#EmailLogo{

}
#FacebookLogo{

}
#WhatsAppLogo{

}