
#projectMainPage{
    background-color: #22273B;
    width: 2026px;
    height: 1120px;
    background-size: 100% 100%;
    position: relative;
}

#projectTitle{
    width: 500px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
    top: 100px;
}

#pro1{
    position: absolute;
    width: 485px;
    height: 620px;
    left: 265px;
    top: 290px;
    background: url("../images/pro1.png") no-repeat center;
    background-size: 100% 100%;
}
#pro2{
    position: absolute;
    width: 485px;
    height: 620px;
    left: 795px;
    top: 290px;
    background: url("../images/pro2.png") no-repeat center;
    background-size: 100% 100%;

}
#pro3{
    position: absolute;
    width: 485px;
    height: 620px;
    left: 1320px;
    top: 290px;
    background: url("../images/pro3.png") no-repeat center;
    background-size: 100% 100%;

}