@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

#mainServicePage{
    background-color: #1F2235;
    width: 2026px;
    height: 900px;
    background-size: 100% 100%;

}

/*main title*/
#serviceTitle1{
    width: 500px;
   /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
}

/*sub title*/
#serviceTitle2{
    width: 200px;

  /*  height: 200px;*/
    color: #F6C074;
    font-size: 35px;
    font-family: 'Jaldi', sans-serif;
    font-weight: lighter;
    position: relative;
    /*top: 0;*/
    left: 315px;
    top: -35px;
}

/*--------------------------------------------------*/


/*--- web----*/
#serviceAbout1{

    position: absolute;
    width: 300px;
    height: 345px;

    left: 320px;
    background: url("../images/Group1.png") no-repeat center;
    background-size: 100% 100%;
}

/*---- ui -----*/

#serviceAbout2{
    position: absolute;
    width: 239px;
    height: 312px;

    left: 700px;
    background: url("../images/Group2.png") no-repeat center;
    background-size: 100% 100%;

}

/*----software develop-----*/
#serviceAbout3{
    position: absolute;
    width: 296px;
    height: 340px;

    left: 1500px;
    background: url("../images/Group3.png") no-repeat center;
    background-size: 100% 100%;


}


#serviceDeco{
    background: url("../images/SERVICES.png") no-repeat center;
    background-size: 100% 100%;
    width: 1900px;
    height: 300px;
    position:relative ;
    /*border: 1px solid white;*/
    top: 520px;
    left: 48px;
}