

#mainSkillPage{
    background-color: #9a0f47;
    width: 2026px;
    height: 1100px;
    background-size: 100% 100%;
    position: relative;
    top: 0;
}

#skillTitle1{
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
}