@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');


#mainSkillPage{
    /*background-color: #9a0f47;*/
    /*width: 2026px;*/
    /*height: 1100px;*/
    /*background-size: 100% 100%;*/
    /*position: relative;*/
    /*top: 0;*/

    background-color: #22273B;
    width: 2026px;
    height: 800px;
    background-size: 100% 100%;
    position: relative;
}

#skillTitle1{
    width: 500px;
    /* height: 100px;*/
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
    position: relative;
    left: 315px;
    top: 30px;

}
#skillTitle2{
    width: 200px;

    /*  height: 200px;*/
    color: #F6C074;
    font-size: 35px;
    font-family: 'Jaldi', sans-serif;
    font-weight: lighter;
    position: relative;
    /*top: 0;*/
    left: 315px;
    top: -5px;

}


#skillJava{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 160px;
    top: 243px;
    background: url("../images/java.png") no-repeat center;
    background-size: 100% 100%;

}
#skillJavaFx{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 500px;
    top: 243px;
    background: url("../images/javafx.png") no-repeat center;
    background-size: 100% 100%;

}
#skillHtml{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 840px;
    top: 243px;
    background: url("../images/html.png") no-repeat center;
    background-size: 100% 100%;

}
#skillCss{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1180px;
    top: 243px;
    background: url("../images/css.png") no-repeat center;
    background-size: 100% 100%;

}
#skillMysql{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1520px;
    top: 243px;
    background: url("../images/mysql.png") no-repeat center;
    background-size: 100% 100%;

}