

#mainSkillPage{
    /*background-color: #9a0f47;*/
    /*width: 2026px;*/
    /*height: 1100px;*/
    /*background-size: 100% 100%;*/
    /*position: relative;*/
    /*top: 0;*/

    background-color: #22273B;
    width: 2026px;
    height: 800px;
    background-size: 100% 100%;
    position: relative;
}

#skillTitle1{
    color: #ffffff;
    font-size: 55px;
    font-family:  'Jost', sans-serif;
    margin: 0;
}


#skillJava{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 243px;
    background: url("../images/java.png") no-repeat center;
    background-size: 100% 100%;

}
#skillJavaFx{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 243px;
    background: url("../images/javafx.png") no-repeat center;
    background-size: 100% 100%;

}
#skillHtml{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 243px;
    background: url("../images/html.png") no-repeat center;
    background-size: 100% 100%;

}
#skillCss{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 243px;
    background: url("../images/css.png") no-repeat center;
    background-size: 100% 100%;

}
#skillMysql{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 243px;
    background: url("../images/mysql.png") no-repeat center;
    background-size: 100% 100%;

}